
code/.ipynb_checkpoints/*.ipynb
.DS_Store
code/__pycache__/
code/.DS_Store
code/.ipynb_checkpoints/bach_feature_extraction-checkpoint.ipynb
code/.ipynb_checkpoints/Network-checkpoint.ipynb
*.h5
outputs/compositions/*
tensorboard_logs/*
